<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%-messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-wrap">
    <form id="deleteForm" action="/inv/delete" method="post">
        <fieldset class="inventory-edit-page">
            <p>Confirm Delete - This delete is permanent.</p>
            <label>Make</label>
            <input type="text" id="car_make" name="inv_make" required value="<%= inv_make %>" readonly>
            <label>Model</label>
            <input type="text" id="car_model" name="inv_model" required value="<%= inv_model %>" readonly>
            <label>Price</label>
            <input type="number" id="car_price" name="inv_price" required value="<%= inv_price %>" readonly>
            <label>Year</label>
            <input type="number" id="car_year" name="inv_year" required value="<%= inv_year %>" readonly>
            <input id="delete_inventory" type="submit" value="Delete Vehicle">
        
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>
        </fieldset>
    </form>
</div>

<!-- <script src="../../js/inv-delete.js"></script> -->