<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%-messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-wrap">
    <form id="updateForm" action="/inv/update" method="post">
        <fieldset class="inventory-edit-page">
            <p>ALL FIELDS ARE REQUIRED</p>
            <%- classificationSelect %>
            <label>Make</label>
            <input type="text" id="car_make" name="inv_make" required value="<%= inv_make %>">
            <label>Model</label>
            <input type="text" id="car_model" name="inv_model" required value="<%= inv_model %>">
            <label>Description</label>
            <textarea id="description" name="inv_description" rows="5" cols="40" required><%= inv_description || '' %></textarea><br>
            <label>Image Path</label>
            <input type="text" id="image_file" name="inv_image" required value="<%= inv_image %>">
            <label>Thumbnail Path</label>
            <input type="text" id="thumbnail_file" name="inv_thumbnail" required value="<%= inv_thumbnail %>">
            <label>Price</label>
            <input type="number" id="car_price" name="inv_price" required value="<%= inv_price %>">
            <label>Year</label>
            <input type="number" id="car_year" name="inv_year" required value="<%= inv_year %>">
            <label>Miles</label>
            <input type="number" id="car_miles" name="inv_miles" required value="<%= inv_miles %>">
            <label>Color</label>
            <input type="text" id="car_color" name="inv_color" required value="<%= inv_color %>">
            <input id="submit_inventory" type="submit" value="Update Vehicle" disabled>
        
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>
        </fieldset>
    </form>
</div>

<script src="../../js/inv-update.js"></script>