<% if (title) { %>
<h1><%= title %></h1>
<% } %>

<%-messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-wrap">
    <form action="/inv/manage/editUser" method="post">
        <fieldset>
            <label>First Name</label>
            <input type="text" id="user_fname" name="account_firstname" required value="<%= account_firstname %>">
            <label>Last Name</label>
            <input type="text" id="user_lname" name="account_lastname" required value="<%= account_lastname %>">
            <!--  -->
            <!-- <label>Password
              <span id="password-req">*NOTE* - Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
            </label>
            <input type="password" id="user_account_password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" placeholder="Leave blank to keep current password"> -->
            <label>Account Type</label>
            <select id="user_name" name="account_type" required>
              <option value="Client" <%= account_type === 'Client' ? 'selected' : ''%>>Client</option>
              <option value="Admin" <%= account_type === 'Admin' ? 'selected' : '' %>>Admin</option>
              <option value="Employee" <%= account_type === 'Employee' ? 'selected' : '' %>>Employee</option>
            </select>
            <input type="hidden" name="account_id" value="<%= account_id %>">
            <input id="signup" type="submit" value="Update User">
        </fieldset>
    </form>
</div>